venv/
.idea/
geckodriver.log
*pycache*
quasimodo_website/app.db
quasimodo_website/test-reports/
quasimodo_website/testsapp_test.db
test-reports/
*swp
build/
dist/
logs/
quasimodo_website.egg-info/
*zip
*coverage
reports/
*db
flask_session/
*.report
*.report
quasimodo_website/tests/flask_session/
