{% extends "homepage.html" %}

{% block inner_content %}

<div class="container">

    <div class="row">
        <div class="card bg-light mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Normal Card</h5>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Assassin</h5>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Blue Card</h5>
          </div>
        </div>

        <div class="card text-white bg-danger mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Red Card</h5>
          </div>
        </div>

        <div class="card bg-light mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Normal Card</h5>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Assassin</h5>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Blue Card</h5>
          </div>
        </div>

        <div class="card text-white bg-danger mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Red Card</h5>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Blue Card</h5>
          </div>
        </div>

        <div class="card text-white bg-danger mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Red Card</h5>
          </div>
        </div>
        <div class="card bg-light mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Normal Card</h5>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Assassin</h5>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Blue Card</h5>
          </div>
        </div>

        <div class="card text-white bg-danger mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Red Card</h5>
          </div>
        </div>

        <div class="card bg-light mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Normal Card</h5>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Assassin</h5>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Blue Card</h5>
          </div>
        </div>

        <div class="card text-white bg-danger mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Red Card</h5>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Blue Card</h5>
          </div>
        </div>

        <div class="card text-white bg-danger mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Red Card</h5>
          </div>
        </div>

        <div class="card text-white bg-dark mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Assassin</h5>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Blue Card</h5>
          </div>
        </div>

        <div class="card text-white bg-danger mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Red Card</h5>
          </div>
        </div>

        <div class="card text-white bg-primary mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Blue Card</h5>
          </div>
        </div>

        <div class="card text-white bg-danger mb-3 col-2" style="min-width: 12rem;">
          <div class="card-body">
            <h5 class="card-title">Red Card</h5>
          </div>
        </div>
    </div>


</div>

{% endblock %}

{% block scripts %}

    {{super()}}

{% endblock %}