{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title_page %}
        QUASIMODO - {{ title_page }}
    {% else %}
        QUASIMODO
    {% endif %}
{% endblock %}

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('homepage.home') }}">QUASIMODO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('homepage.home') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('explorer.home') }}">Explorer</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('explorer.search') }}">Search</a></li>
        <li class="nav-item"><a class="nav-link"
                                href="{{ url_for('codenames.home') }}">Codenames
        </a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Play Taboo
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('taboo.home') }}">Play</a>
                <a class="dropdown-item" href="{{ url_for('taboo.generate_card') }}">Generate Card</a>
            </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('tasks.home') }}">Pipeline Examples</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('homepage.publications') }}">Publications</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('homepage.contributors') }}">Contributors</a></li>
    </ul>
  </div>
</nav>

{% endblock %}


{% block content %}
    <br>
    {% block inner_content %}
    {% endblock %}

    <br><br>

{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/9a16929992.js" crossorigin="anonymous"></script>
{% endblock %}

{% block head %}
    {{super()}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}

{% block styles %}

  {{super()}}
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

{% endblock %}