{% extends "homepage.html" %}

{% block inner_content %}

<div class="container">
    <h2>Main Publication</h2>
    <ul>
        <li>
            Commonsense Properties from Query Logs and Question Answering Forums, Julien Romero, Simon Razniewski, Koninika Pal, Jeff Z. Pan, Archit Sakhadeo, Gerhard Weikum, CIKM 2019
            [<a href="https://arxiv.org/pdf/1905.10989.pdf">pdf</a>]
        </li>
    </ul>

    <h2>Related Publications</h2>

    <ul>
        <li>Co-Clustering Triples from Open Information Extraction, Koninika Pal, Vinh Thinh Ho, Gerhard Weikum, COMAD/CODS 2020
            [<a href="https://www.semanticscholar.org/paper/Co-Clustering-Triples-from-Open-Information-Pal-Ho/cb66a2da580fc1b8fce093b7bf0347cd52e30449">pdf</a>]</li>
        <li>Joint Reasoning for Multi-Faceted Commonsense Knowledge, Yohan Chalier, Simon Razniewski, Gerhard Weikum
        [<a href="https://arxiv.org/pdf/2001.04170.pdf">pdf</a>]</li>
        <li>Negative Statements Considered Useful, Hiba Arnaout, Simon Razniewski, Gerhard Weikum,
        [<a href="https://arxiv.org/pdf/2001.04425.pdf">pdf</a>]</li>
    </ul>
</div>




{% endblock %}