{% extends "homepage.html" %}

{% block inner_content %}

<div class="container">

    <div class="row">
        <div class="col" align="center">
            <h1>Welcome to play Taboo!</h1>
            <br>
        </div>
    </div>

    <div class="row">

        <div class="col">
            <div class="card d-none" style="width: 18rem;" id="tabooCard">
                <div class="card-header">
                    <p id="card_title"></p>
                </div>
                <ul class="list-group list-group-flush" id="forbidden_words">
                      <li class="list-group-item"><p id="forbidden_word0"></p></li>
                      <li class="list-group-item"><p id="forbidden_word1"></p></li>
                      <li class="list-group-item"><p id="forbidden_word2"></p></li>
                      <li class="list-group-item"><p id="forbidden_word3"></p></li>
                      <li class="list-group-item"><p id="forbidden_word4"></p></li>
                </ul>
            </div>
        </div>

        <div class="col-sm frame">
            <ul id="chat-list" class="chat"></ul>
            <div>
                <div class="msj-rta macro" style="margin:auto">
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Give a clue" data-url="{{ url_for('taboo.give_word', _external=True) }}"/>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col" align="center">
            <br>
            <button type="button" class="btn btn-dark" onclick="load_new_card('{{ url_for('taboo.start_new_game', _external=True) }}')" id="new-game">New Game</button>
            <button type="button" class="btn btn-dark" onclick="try_to_guess('{{ url_for('taboo.guess_word', _external=True) }}')" id="guess-word">Guess Word</button>
        </div>
    </div>

</div>


{% endblock %}

{% block styles %}

  {{super()}}
  <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">

{% endblock %}

{% block scripts %}

    {{super()}}

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/taboo.js') }}"></script>


{% endblock %}