{% extends "homepage.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block inner_content %}


<div class="container">

    <div class="row">
        <div class="col" align="center">
            {{ wtf.quick_form(form) }}
        </div>

    </div>
    <br>
{% if card %}

        <div class="row">
            <div class="col" align="center">
                <h1>Generated Card</h1>
                <br>
            </div>
        </div>

        <div class="row">

            <div class="col" align="center">
                <div class="card" style="width: 18rem;" id="tabooCard">
                    <div class="card-header">
                        <p id="card_title">{{ subject }}</p>
                    </div>
                    <ul class="list-group list-group-flush" id="forbidden_words">
                          <li class="list-group-item"><p id="forbidden_word0">{{ card[0] }}</p></li>
                          <li class="list-group-item"><p id="forbidden_word1">{{ card[1] }}</p></li>
                          <li class="list-group-item"><p id="forbidden_word2">{{ card[2] }}</p></li>
                          <li class="list-group-item"><p id="forbidden_word3">{{ card[3] }}</p></li>
                          <li class="list-group-item"><p id="forbidden_word4">{{ card[4] }}</p></li>
                    </ul>
                </div>
            </div>
        </div>


{% elif subject %}

        <div class="row">
            <div class="col" align="center">
                <h1>We were not able to generate a card for {{ subject }}</h1>
                <br>
            </div>
        </div>

{% else %}


{% endif %}
    <div class="row">
        <br>
        <h2>Description</h2>
        <br>
        Taboo is a game in which a player must make other players guess a word without using a list of forbidden words. In this demo, we provide an interface to play Taboo with Quasimodo. When a user starts a new game, the web portal sends him a card. Then they must use a chat interface to give clue words to Quasimodo. Every time the user presses the Make a Guess button, the system tries to a find a relevant word.
        <br>
The algorithm used in the back end is simple. First, the database is filtered using the words given by the user. Then, we group the results by subjects, and we aggregate the scores using a sum or a max function, for example. We finally return the best subject, under the condition that we never tried it before.
<br>
In addition to this game, we also provide the functionality to generate Taboo cards for any subject. We perform this generation by taking the most relevant objects associated with a subject by combining the scores.
    </div>

</div>

{% endblock %}
