{% extends "homepage.html" %}

{% block inner_content %}

    {% if tasks %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Complete</th>
                    <th>View</th>
                    <th>Stop</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.subject }}</td>
                    <td>{% if task.is_complete() %}Yes{% else %}No{% endif %}</td>
                    <td><a href="{{ url_for('tasks.get_meta', id=task.id) }}">View</a></td>
                    <td><a href="">Stop</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if prev_url %}
                    <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous facts</a></li>
                {% endif %}
                {% if next_url %}
                    <li class="page-item"><a class="page-link" href="{{ next_url }}">Next facts</a></li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <div>
            No task found.
        </div>
    {% endif %}

{% endblock %}
